@import "tailwindcss";

@theme {
  --color-medical: #31A1AF;
  --color-medical-light: #EAF6F7;
  --color-medical-dark: #248491;
  --color-light-gray: #F5F7FA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #171717;
}

/* Embla Carousel styles */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}
@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 33.333333%;
  }
}
